{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Password reset{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div class="content-page-block center">
    <div id="content-page-block_password-reset" class="dialog overflow-hidden">
      <h1>Password reset</h1>
      <p>Enter your email address below, instructions to set up new password will be sent on your mail</p>
      <form id="password-reset-form" class="form" method="post">
        {% csrf_token %}
        <div class="form-field medium-short-field">
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email }}
        </div>
        <div class="form-field medium-short-field">
          <input type="submit" class="button" value="Send email">
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</body>


