{% extends 'home.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Create ticket{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div id="content-page_header">
      <div class="content-page_header-block">
        <h2>Create ticket</h2>
      </div>
    </div>
  <div id="content-page_create-ticket" class="content-page-block">
    <form id="create-ticket_form" class="form" method="post">
      {% csrf_token %}
      <div class="form-field long-field required">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
        <div class="description">{{ form.title.help_text }}</div>
      </div>
      <div class="form-field medium-field required">
        <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
        {{ form.type }}
      </div>
      <div class="form-field medium-field required">
        <label for="{{ form.priority.id_for_label }}">{{ form.priority.label }}</label>
        {{ form.priority }}
      </div>
      <div class="form-field medium-field">
        <label for="{{ form.assignee.id_for_label }}">{{ form.assignee.label }}</label>
        {{ form.assignee }}
      </div>
      <div class="form-field medium-field">
        <label for="{{ form.labels.id_for_label }}">{{ form.labels.label }}</label>
        {{ form.labels }}
      </div>
      <div class="form-field medium-field">
        <label for="{{ form.attachments.id_for_label }}">{{ form.attachments.label }}</label>
        {{ form.attachments }}
      </div>
      <div class="form-field long-field">
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.media }} {{ form.description }}
      </div>
      <div class="form-field long-field">
        <input type="submit" value="Create">
      </div>
    </form>
    <div id="create-ticket-info" style="display:none">
      <div id="create-ticket-info-dialog">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent egestas sapien mi, eget auctor sem pretium sit amet. Donec sed ornare felis, et tempor nisi.Cras velit diam, hendrerit eget augue ut, rhoncus tincidunt enim. Vivamus nisl nulla, blandit eu euismod ac, faucibus quis nibh. Mauris cursus nulla sit amet mauris lobortis fermentum</p>
        <p class="p-footer">ServiceDesk App</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508 508">
          <circle style="fill:#353535;" cx="254" cy="254" r="254"/>
          <path style="fill:#656565;" d="M290,179.6L128,328.8c-6.8,6.4-10.8,15.2-10.8,24.8c0,9.6,3.6,18.4,10,24.8c6.8,6.8,15.6,10.4,24.8,10c9.6,0,18.4-4,24.8-10.8l150.4-160.8L290,179.6z M142,363.2c-4.4-4.4-4.4-12,0-16.4s12-4.4,16.4,0s4.4,12,0,16.4C154,368,146.8,368,142,363.2z"/>
          <path style="fill:#b9b9b9;" d="M403.2,150.8l-1.6-6.8l-32.8,32.8l-32.4-6l-6-32.4l32.8-32.8l-6.8-1.6c-21.2-4.8-43.2,1.2-58.4,16.8c-24.4,24.4-24.4,64,0,88.4s64,24.4,88.4,0C401.6,194,408,172,403.2,150.8z"/>
          <path style="fill:#b9b9b9;" d="M260.4,224l-48,48c-3.6,3.6-3.6,9.6,0,13.6l117.2,117.2c3.6,3.6,9.6,3.6,13.6,0l48-48c3.6-3.6,3.6-9.6,0-13.6L274,224C270,220.4,264,220.4,260.4,224z"/>
          <polygon style="fill:#e1e1e1;" points="121.6,115.2 103.2,133.2 126,167.2 151.6,179.6 228,256.4 244.8,240 168,163.2 155.2,137.6"/>
          <path style="fill:#e1e1e1;" d="M243.6,277.6c-3.2,3.2-3.2,8,0,10.8l82.8,82.8c3.2,3.2,8,3.2,10.8,0c3.2-3.2,3.2-8,0-10.8l-82.8-82.8C251.6,274.8,246.8,274.8,243.6,277.6z"/>
          <path style="fill:#e1e1e1;" d="M266,255.2c-3.2,3.2-3.2,8,0,10.8l82.8,82.8c3.2,3.2,8,3.2,10.8,0c3.2-3.2,3.2-8,0-10.8l-82.8-82.8C274,252.4,268.8,252.4,266,255.2z"/>
        </svg>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){renderFields('create-ticket', '{{ MEDIA_URL }}')})
  </script>
  {% endblock %}
</body>


