{% extends 'home.html' %}
{% load filters %}
<head>
  <title>{% block title %} {{ block.super }} | Ticket {{ object.key }}{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div id="content-page_header" class="separated">
    <div class="content-page_header-block">
      <div class="content-page_header-block_type">{{ object.type.icon_img }}</div>
      <h2>{{ object.key }}</h2>
    </div>
  </div>
  <div class="separator-horizontal"></div>
  <div class="content-page-block">
    <div id="ticket-view_navbar">
      <div class="ticket-view_navbar-block">
        <button id="button_ticket-edit" data-type="action">Edit</button>
        <div id="navbar-block_edit-dialog" class="dialog center">
          <form action="{% url 'update_ticket' object.slug %}" method="post">
            {% csrf_token %}
            <div class="form-field long-field required">
              <label for="{{ form_update.title.id_for_label }}">{{ form_update.title.label }}</label>
              {{ form_update.title }}
              <div class="description">{{ form_update.title.help_text }}</div>
            </div>
            <div class="form-field medium-field required">
              <label for="{{ form_update.priority.id_for_label }}">{{ form_update.priority.label }}</label>
              {{ form_update.priority }}
            </div>
            <div class="form-field medium-field">
              <label for="{{ form_update.labels.id_for_label }}">{{ form_update.labels.label }}</label>
              {{ form_update.labels }}
            </div>
            <div class="form-field long-field">
              <label for="{{ form_update.description.id_for_label }}">{{ form_update.description.label }}</label>
              {{ form_update.media }} {{ form_update.description }}
            </div>
            <div class="form-field long-field">
              <input type="submit" class="button" value="Save">
            </div>
          </form>
        </div>
      </div>
      <div class="ticket-view_navbar-block">
        <form action="{% url 'update_ticket_status' object.slug %}" method="post">
          {% csrf_token %}
          {% for transition in transitions %}
            <button type="submit" name="transition" value="{{ transition.id }}" data-type="action" title='Change status to "{{ transition.transition.dest_status }}"' onmouseover="this.style.background-color={{transition.transition.dest_status.color}}">
              {{ transition.transition.name }}
            </button>
          {% endfor %}
        </form>
      </div>
      <div class="ticket-view_navbar-block">
        <button id="button_ticket-assignee" data-type="action">Assign</button>
        <div id="navbar-block_assignee-dialog" class="dialog center">
          <form action="{% url 'update_ticket_assignee' object.slug %}" method="post">
            {% csrf_token %}
            <div class="form-field short-field">
              <label for="{{ form_update_assignee.assignee.id_for_label }}">{{ form_update_assignee.assignee.label }}</label>
              {{ form_update_assignee.assignee }}
            </div>
            <input type="submit" value="Save">
          </form>
        </div>
      </div>
      <div class="ticket-view_navbar-block">
        <form action="{% url 'update_ticket_suspend' object.slug %}" method="post">
          {% csrf_token %}
          {% if object.suspended %}
            <button id="button_ticket-suspend" data-type="action">Unsuspend</button>
          {% else %}
            <button id="button_ticket-suspend" data-type="action">Suspend</button>
          {% endif %}
        </form>
      </div>
    </div>
    <div id="ticket-view_content">
      <div class="ticket-view_field-group">
        <div class="ticket-view_field ticket-title">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'title' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.title }}
          </div>
        </div>
      </div>
      <div class="ticket-view_field-group ticket-detail">
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'type' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.type.icon_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'status' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.status.status_color }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'labels' %}
          </div>
          <div class="ticket-view_field_content">
            {% if object.labels.count > 0 %}
              {% for label in object.labels.all %}
                <div class="ticket-label">
                  {{ label }}
                </div>
              {% endfor %}
            {% else %}
              <div class="ticket-block_info-left">
                None
              </div>
            {% endif %}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'reporter' %}
          </div>
          <div class="ticket-view_field_content ticket-user">
            {{ object.reporter_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'priority' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.priority.icon_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'assignee' %}
          </div>
          <div class="ticket-view_field_content ticket-user">
            {{ object.assignee_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'created' %}
          </div>
          <div class="ticket-view_field_content ticket-user">
            {{ object.created_datetime }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'updated' %}
          </div>
          <div class="ticket-view_field_content ticket-user">
            {{ object.updated_datetime }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'resolution' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.get_resolution }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'suspended' %}
          </div>
          <div class="ticket-view_field_content">
            {% if object.suspended %}
              Yes
            {% else %}
              <div class="ticket-block_info-left">
                No
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="ticket-view_field-group">
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'description' %}
          </div>
          <div class="ticket-view_field_content description">
            {{ object.description|safe }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'attachments' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.attachments }}
          </div>
        </div>
      </div>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="message {{ message.tags }}">
          {{ message|safe }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <script>
    $(document).ready(function(){renderFields('ticket-view', '{{ MEDIA_URL }}')})
  </script>
  {% endblock %}
</body>