{% extends 'home.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Create ticket{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div id="content-page_header">
      <div class="content-page_header-block">
        <h2>Create ticket</h2>
      </div>
    </div>
  <div id="content-page_create-ticket" class="content-page-block">
    <form enctype="multipart/form-data" id="create-ticket_form" class="form" method="post">
      {% csrf_token %}
      <div class="form-field long-field required">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
        <div class="description">{{ form.title.help_text }}</div>
      </div>
      <div class="form-field medium-field required">
        <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
        {{ form.type }}
      </div>
      <div class="form-field medium-field required">
        <label for="{{ form.priority.id_for_label }}">{{ form.priority.label }}</label>
        {{ form.priority }}
      </div>
      {% if form.assignee %}
        <div class="form-field medium-field">
          <label for="{{ form.assignee.id_for_label }}">{{ form.assignee.label }}</label>
          {{ form.assignee }}
        </div>
      {% endif %}
      <div class="form-field medium-field">
        <label for="{{ form.labels.id_for_label }}">{{ form.labels.label }}</label>
        {{ form.labels }}
      </div>
      <div class="form-field long-field">
        <label for="id_attachments">Attach a file</label>
        <input type="file" id="id_attachments" name="attachments" multiple/>
      </div>
      <div class="form-field long-field">
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.media }} {{ form.description }}
      </div>
      <div class="form-field long-field">
        <input type="submit" class="button" value="Create">
      </div>
    </form>
  </div>
  <script>
    $(document).ready(function(){renderFields('create-ticket', '{{ MEDIA_URL }}')})
  </script>
  {% endblock %}
</body>


