{% extends 'home.html' %}
{% load filters %}
<head>
  <title>{% block title %} {{ block.super }} | Ticket {{ object.key }}{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div id="content-page_header" class="separated">
    <div class="content-page_header-block">
      <div class="content-page_header-block_type">{{ object.type.icon_img }}</div>
      <h2>{{ object.key }}</h2>
    </div>
  </div>
  <div class="separator-horizontal"></div>
  <div class="content-page-block">
    <div id="ticket-view_navbar">
      <div class="ticket-view_navbar-block">
        <button type="action">Edit</button>
      </div>
      <div class="ticket-view_navbar-block">
        {% for transition in transitions %}
          <button type="action" title='Change status to "{{ transition.transition.dest_status }}"' onmouseover="this.style.background-color={{transition.transition.dest_status.color}}">
            {{ transition.transition.name }}
          </button>
      {% endfor %}
      </div>
    </div>
    <div id="ticket-view_content">
      <div class="ticket-view_field-group">
        <div class="ticket-view_field ticket-title">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'title' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.title }}
          </div>
        </div>
      </div>
      <div class="ticket-view_field-group ticket-detail">
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'type' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.type.name }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'status' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.status.status_color }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'labels' %}
          </div>
          <div class="ticket-view_field_content">
            {% if object.labels.count > 0 %}
              {% for label in object.labels.all %}
                <div class="ticket-label">
                  {{ label }}
                </div>
              {% endfor %}
            {% else %}
              <div class="ticket-block_info-left">
                None
              </div>
            {% endif %}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'reporter' %}
          </div>
          <div class="ticket-view_field_content ticket-user">
            {{ object.reporter_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'priority' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.priority.icon_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'assignee' %}
          </div>
          <div class="ticket-view_field_content ticket-user">
            {{ object.assignee_img_text }}
          </div>
        </div>
        <div class="ticket-view_field">
          <div class="ticket-view_field_label">
            {% get_verbose_name object 'resolution' %}
          </div>
          <div class="ticket-view_field_content">
            {{ object.get_resolution }}
          </div>
        </div>
      </div>
    </div>
    {% if messages %}
      <div class="message success">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endblock %}
</body>