/* Global settings */

:root {
    --theme: #4267B2;
    --elem-dark: #353535;
    --elem-dark-secondary: #4f4f4f;
    --elem-dark-third: #484848;
    --elem-light: #e1e1e1;
    --elem-light-secondary: #656565;
    --elem-light-third: #b9b9b9;
    --elem-light-filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(41deg) brightness(130%) contrast(76%);
    background: #dddddd;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    color: var(--elem-dark);
    font-family: Lato, sans-serif;
}

main {
    color: var(--elem-dark);
    margin: 10px;
}

a,
a:visited {
    color: var(--elem-dark);
    vertical-align: middle;
    text-decoration: none;
    transition: 200ms;
}

label {
    display: block;
    text-align: left;
}

input {
    font-family: Lato, sans-serif;
    margin: 0;
    border-radius: 5px;
    font-size: 115%;
}

input:not([type=button]) {
    padding: 5px 10px 5px 10px;
    width: calc(100% - 20px);
    border: 1px solid var(--elem-light-third);
}

input[type=button],
input[type=submit] {
    box-shadow: none;
    outline: none;
    line-height: 1;
    color: var(--elem-dark);
    background: var(--elem-light);
    border: 1px solid var(--elem-light-secondary);
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 500;
    transition: 400ms background, border-color, font-weight, color;
}

input[type=submit] {
    width: 100%
}

input[type=search] {
    font-size: 13px;
    line-height: 1.3;
    background: var(--elem-dark-third);
    border: 2px solid var(--elem-dark-third);
    padding: 5px 5px 5px 35px;
    box-shadow: none;
    transition: 400ms;
}

input:active,
input:focus {
    border: 1px solid var(--elem-dark-secondary);
    outline: none;
}

input[type=button]:hover,
input[type=submit]:hover {
    background: var(--theme);
    border-color: var(--theme);
    color: var(--elem-light);
}

input[type=search]:focus {
    border: 2px solid var(--elem-light-secondary);
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}

/* Navbar and footer*/

nav {
    padding: 5px 3px 3px 3px;
    width: 100%;
    font-size:  15px;
    height: auto;
    background: var(--elem-dark);
    border-bottom: 5px solid var(--theme);
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav,
nav a,
nav a:visited,
footer,
footer a,
footer a:visited {
    color: var(--elem-light);
}

nav div {
    margin: 0 15px 0 15px;
}

.navbar-content-block {
    display: flex;
    align-items: center;
}

footer {
    background: var(--elem-dark);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    margin: 5px;
    font-size: 90%;
}

.footer-content-block {
    text-align: center;
    padding: 5px 30px 5px 30px;
}

/* Navbar - Account */

#navbar-account {
    position: relative;
}

#navbar-account svg {
    padding: 5px 10px 5px 10px;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;
}

#navbar-account img:hover {
    background: var(--elem-dark-secondary);
}

#navbar-account ul {
    position: fixed;
    background: var(--elem-dark);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    list-style: none;
    top: 63px;
    right: 25px;
    padding: 0;
}

#navbar-account ul li {
    border-bottom: 1px solid var(--elem-dark-third);
    padding: 10px 20px 10px 10px;
    display: flex;
    transition: 200ms;
    margin-left: 0;
}

#navbar-account li:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

#account-admin:before{
    background-image: url('../images/admin.png');
}

#account-settings:before{
    background-image: url('../images/cog.png');
}

#account-password-change:before {
    background-image: url('../images/lock.png');
}

#account-logout:before {
    background-image: url('../images/log-out.png');
}

#navbar-account ul li:nth-last-child(1) {
    border-bottom: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#navbar-account ul li:nth-child(1):hover {
    background: var(--elem-dark);
}

#navbar-account ul li:hover {
    background: var(--elem-dark-secondary)
}

/* Navbar - Search */

#navbar-search {
    position: relative;
}

#navbar-search img {
    position: absolute;
    bottom: 7px;
    left: 10px;
}

/* Navbar - Login */

#navbar-login > a{
    display: flex;
}

#navbar-login a:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-image: url('../images/log-in.png');
}

/* Content - Logged out */

#dialog-logged-out {
    align-items: center;
    line-height: 50px;
    width: 400px;
}

#dialog-logged-out p {
    text-align: center;
    font-size: 75%;
    margin-top: 35px;
    line-height: 2;
    color: var(--elem-light-secondary);
    border-top: 1px solid var(--elem-light-secondary);
    width: inherit;
}

/* Content - Log In */

#dialog-login {
    margin: 0 auto;
    width: 450px;
    max-width: calc(100% - 20px);
    padding: 10px
}

/* Content - Password Reset */

#dialog-password-reset {
    width: 400px;
}
#dialog-password-reset form {
    width: 80%
}

/* Classes */

.center-subdiv {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    fill: var(--elem-light);
    transition: 150ms;
}

.icon:hover{
    fill: var(--theme);
}

/* Override base.css */

#content h1 {
    flex: 0 0 100%
}

#recent-actions-module {
    /*position: fixed;*/
    display: inline-block;
    background: var(--elem-light);
    border-left: 1px solid var(--elem-dark);
    /*top: 55px;
    right: 0;*/
    width: 200px;
    height: 100%;
}





