:root {
    --primary: var(--elem-dark-third);
    --body-bg: var(--elem-light-primary);
    --body-fg: var(--elem-dark-third);
    --body-quiet-color: var(--elem-dark-third);
    --link-fg: var(--theme);
    --darkened-bg: var(--elem-light-primary);
    --hairline-color: var(--elem-light-border);
    --message-error-bg: var(--error-bg);

    --breadcrumbs-bg: var(--elem-dark-border);
    --breadcrumbs-fg: var(--elem-light-primary);

    --object-tools-bg: var(--elem-dark-primary);
    --object-tools-fg: var(--elem-light-primary);

    --selected-bg: var(--theme);
    --selected-row: var(--theme);

    --border-color: var(--elem-light-border);
    --close-button-bg: var(--elem-dark-primary);
    font-family: Lato, sans-serif;
}

#header {
    display: -webkit-inline-box;
    background: none;
    padding: 0;
}

div.breadcrumbs {
    padding: 10px 40px!important;
    background: var(--elem-dark-secondary)
}

#nav-filter {
    border: none;
    margin: 0;
    color: var(--elem-dark-third)!important;
    padding: 15px 15px 10px 15px!important;
    border-radius: 0
}

.dashboard #content {
    width: inherit;
}

#header a:focus,
#header a:hover {
    text-decoration: none;
}

.dashboard #content #content-main {
    width: 85%;
}

#content-related .module h2 {
    border-bottom: 1px solid var(--elem-light-border);
    font-size: 14px!important;
    padding: 12px 8px!important;
    font-weight: 600!important;
    letter-spacing: 0.9px;
    background: var(--elem-dark-primary);
    color: var(--elem-light-primary)
}

#content-related .module h3{
    color: var(--elem-dark-third);
}

.app-app .content,
.app-auth .content{
    transition: 300ms;
}

.app-app .module {
    border: none;
}

.dashboard .module {
    border: 1px solid var(--elem-light-border);
    border-radius: 5px;
}

.paginator{
    width: inherit!important;
}

h1,
#changelist .paginator {
    color: var(--elem-dark-third)
}

li, dt, dd {
    font-size: inherit;
    line-height: inherit;
}

#content-related {
    width:calc(15% - 10px);
    margin-left: 10px;
    margin-right: 0;
    background: var(--elem-light-primary);
    float: inherit;
}

#content-related .actionlist {
    margin: 0;
}

#content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.dashboard #content > h1 {
    margin-bottom: 15px;
}

#content > h1 {
    border-bottom: 1.5px solid var(--elem-light-border);
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: 500;
}

.app-app #content >h1 {

    margin-bottom: 0;
}

.colMS{
    margin-right: 0;
}

.module caption {
    font-size: 13px;
}

.module h2, .module caption, .inline-group h2 {
    background: var(--elem-dark-primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px 8px;
    border-bottom: 1px solid var(--elem-light-border);
    color: var(--elem-dark-third)
}

a:link {
    color: var(--elem-dark-third)
}

a.section:link,
a.section:visited {
    color: var(--elem-light-primary);
}

tr:nth-child(even),
tr:nth-child(odd) {
    background: none;
}

#content-main tr {
    transition: 400ms;
}

#content-main tr:hover{
    background-color: var(--elem-light-hover)!important;
}

td, th {
    border-bottom: none;
}

th a:hover,
td a:hover,
li a:hover {
    text-decoration: underline
}

#nav-sidebar .current-model {
    background: var(--theme);
}

#nav-sidebar table > tbody > tr.current-model a {
    color: var(--elem-light-primary)
}

#nav-sidebar table > tbody > tr:not(.current-model) {
    transition: 300ms
}

#nav-sidebar table > tbody > tr:not(.current-model):hover {
    background: var(--elem-light-border)
}

@media (max-width: 1024px) {
    #header {
        display: block;
        background: none;
        padding: 0;
    }
}

#nav-sidebar {
    width: 25%;
    left: -328px!important;
    margin-left: -328px;
    flex: 0 0 328px;
    border-top: none;
    border-right: 1px solid var(--elem-light-border);
    border-left: none;
    transition: 300ms;
}

#nav-sidebar div {
    margin: 0;
}

#nav-sidebar caption{
    border-radius: 0;
    border: none;
}

#nav-sidebar table > caption > a,
#nav-sidebar table > caption > a:visited{
    color: var(--elem-light-primary)!important;
}

#nav-sidebar .module {
    border-radius: 0;
    border: none;
}

.toggle-nav-sidebar {
    background: var(--elem-dark-primary);
    border-right: none;
    color: var(--elem-light-primary);
    transition: 300ms;
}

.toggle-nav-sidebar:focus,
.toggle-nav-sidebar:active {
   background: var(--elem-dark-primary);
}

.toggle-nav-sidebar:hover {
    background: var(--elem-dark-secondary)
}

#content h1 {
    flex: 0 0 100%
}

#recent-actions-module {
    /*position: fixed;*/
    display: block;
    background: var(--elem-light-primary);
    border: 1px solid var(--elem-light-border);
    border-radius: 5px;
    /*top: 55px;
    right: 0;*/
    height: 100%;
}
#recent-actions-module > ul {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

#recent-actions-module > ul > li {
    padding: 5px;
    border-radius: 5px;
    transition: 400ms;
}

#recent-actions-module > ul > li:hover {
    background: var(--theme-hover);
}

#recent-actions-module .addlink,
#recent-actions-module .changelink {
    background-position: 0 5px;
    z-index: 500;
}
.addlink:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    /*background-image: url('../img/logo.png')*/
}

#recent-actions-module > h2 {
    border-bottom: 1px solid var(--elem-light-border);
    text-transform: uppercase;
    font-size: 12px;
}

.object-tools {
    margin-top: -46px;
}

.object-tools a {
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

p.datetime {
    margin-left: 0!important;
}

.object-tools a:link, .object-tools a:visited {
    padding: 10px 10px 10px 25px;
    font-weight: 700;
}

.object-tools a:link.historylink,
.object-tools a:visited.historylink {
    padding: 10px 10px 10px 10px;
    margin-top: -44px;
}

.object-tools a:hover {
    background-color: var(--theme);
}

.object-tools a.addlink {
    background-position: left 7px center;
}

label.required {
    color: var(--elem-dark-third)
}

.aligned label {
    float: none!important
}

#changelist .actions{
    padding: 15px 10px 15px 0!important;
}

#changelist table input {
    vertical-align: middle!important;
}


#changelist .actions .button{
    color: var(--elem-light-primary)!important;
    background: var(--object-tools-bg)!important;
    transition: 300ms;
    font-size: 15px!important;
    height: 33px!important;
    padding: 4px 20px !important;
    text-transform: uppercase!important;
    border: none!important;
    font-weight: 700!important;
}

#changelist .actions .button:hover {
    background: var(--theme)!important;
    border: none!important;
}

#changelist-filter {
    border: 1px solid  var(--elem-light-border)!important;
    border-radius: 5px!important;
    margin: 20px 0 0 30px!important;
}

#changelist-filter h2 {
    color: var(--elem-light-primary)!important;
    font-weight: 700!important;
}

#changelist table tbody tr.selected {
    /*color: var(--elem-light-primary);*/

    background-color: var(--elem-light-hover)!important;
}
.selected a {
   /* color: var(--elem-light-primary); */
}

#changelist-search > div > span.quiet{
    display: none!important;;
}

/* Admin - Toolbar */

#toolbar {
    display: flex;
    border-top: 0!important;
    margin-bottom: 0!important;
    padding: 20px 0 20px 0!important;
}

#toolbar #searchbar {
    padding: 5px 10px 5px 30px!important;
    font-size: 15px!important;
    height: auto!important;
}

#toolbar form input[type="submit"] {
    box-shadow: none!important;
    margin-left: 5px!important;
    text-transform: uppercase;
    font-weight: 700!important;
    color: var(--elem-light-primary)!important;
    background: var(--object-tools-bg)!important;
    transition: 300ms;
    border: none!important;
    padding: 3px 15px 3px 15px!important;
}

#toolbar form input[type="submit"]:hover {
    background: var(--theme)!important;
}

#toolbar > form#changelist-search > div {
    display: flex;
}

#toolbar label > img {
    flex: 0 0 100%;
    position: absolute;
    padding-left: 6px;
    padding-top: 4px;
    width: 20px;
    height: 20px;
    z-index: 2;
}



/* Admin - Result list */

div.results {
    border-top: 1px solid var(--elem-light-border)!important;
}

table#result_list {
    border: 1px solid var(--elem-light-border)!important;
    border-radius: 5px!important;
    margin-top: 15px!important;
}

#result_list > thead > tr > th,
#result_list > thead > tr > th a{
    background: var(--elem-dark-primary)!important;
    color: var(--elem-light-primary)!important;
    font-weight: 600!important;
    transition: 300ms;
}

#result_list > thead > tr > th:not(.sorted):hover,
#result_list > thead > tr > th:not(.sorted) a:hover {
    background-color: var(--elem-light-hover)
}

#result_list > thead > tr > th.sorted {
    background-color: var(--elem-light-hover)
}

.dashboard tr:not(:last-child){
    border-bottom: 1px solid var(--elem-light-border)
}

.app-app tr,
.change-list tr{
    border-bottom: 1px solid var(--elem-light-border)
}

.paginator {
    display: none
}

.column-id {
    width: 10px;
}

/* Admin - Fieldset, Submit row, Child inputs */

fieldset h2 {
    font-weight: 600!important;
    text-transform: uppercase;
    color: var(--elem-light-primary)!important;
    border-radius: 0!important;
    padding: 10px 0 6px 10px!important
}

fieldset.module {
    margin-bottom: 0;
    /*padding: 20px 0 20px 20px;*/
}

fieldset.module > div {
    display: grid!important;
}

fieldset .form-row input:not[type=checkbox],
fieldset .form-row input.vTextField,
fieldset .form-row select,
fieldset .form-row textarea {
    width: 50%!important
}

.submit-row {
    border: none!important;
    display: flex!important;
    padding: 15px 0!important;
    flex-direction: row!important;
    justify-content: flex-start!important;
}

.submit-row input.default{
    /*flex: 0 0 100%;*/
    margin-left: 0!important;
    background: var(--elem-dark-primary)!important;
    color: var(--elem-light-primary)!important
}

.submit-row input.default:hover {
    background: var(--theme)!important;
}
.submit-row > * {
     margin-left: 5px!important;
}

.delete-confirmation form input[type="submit"] {
    color: var(--elem-light-primary)!important
}

.form-row {
    overflow: inherit!important;
    padding: 15px 0!important;
    font-size: 16px!important;
}

.vLargeTextField {
    width: 50%!important;
}

form#status_form input[type=text] {
    box-sizing: border-box!important;
}

#user_form > div > fieldset {
    padding: 0!important;
    border-bottom: none;
}

#user_form > div > fieldset > .form-row {
    border-bottom: none;
}

ul.selector-chooser {
    background-color: var(--background)!important
}

ul.selector-chooser > li a {
    cursor: pointer
}

.selector-chosen h2,
.selector-available h2 {
    background: var(--elem-dark-primary)!important;
}

.file-upload {
    display: flex;
    flex-direction: column;
    margin-left: 0!important;
}

.file-upload input {
    font-size: 15px!important;
}

.file-upload #icon-clear_id {
    width: inherit;
}

.form-row.field-icon > div > p > a {
    border: 1px solid var(--elem-light-border);
    padding: 5px 10px;
    width: 50%;
    font-size: 115%;
    border-radius: 5px;
}

/* Admin - delete confirmation */

body.delete-confirmation #content{
    display: block!important;
}

body.delete-confirmation #content form div {
    display: flex;
}

body.delete-confirmation #content h1{
    margin-bottom: 10px
}

body.delete-confirmation #content form div input[type=submit] {
    flex: 0;
    border: none;
}

body.delete-confirmation #content form input {
    transition: 300ms;
}

body.delete-confirmation #content form .cancel-link:hover{
    background-color: var(--theme)
}

/* Hidden fields */

#add_id_groups,
.add-related,
.change-related,
.delete-related{
    display: none
}

#group_form .field-permissions .selector {
    display: none
}

#id_groups {
    height: 650px!important;
}

input[type=text],
input:not[type=submit] {
    width: 500px!important;

}

input[type=text].vTextField {

    padding: 7px 10px 7px 10px!important;
}
select {
    width: 350px!important;
}

thead th.required {
    color: var(--elem-dark-third);
}

ul.messagelist li {
    padding: 14px 10px 10px 65px;
}

form .aligned div.help,
.errorlist {
    margin-left: 0!important;
    padding: 5px 0 0 0 !important;
}

.success {
    z-index: 99;
    position: absolute;
    right: 10px;
    top: 150px;
    width: 300px;
    border-radius: 5px;
    color: var(--success-color)!important;
    background-color: var(--success-background)!important;
    border: 1px solid var(--success-border)!important;
}

.success a {
    color: var(--success-color)!important;
    transition: 100ms;
}

.success a:hover {
    color: var(--elem-dark-third)!important;
}

.errornote,
.errornote a,
.errornote a:hover {
    position: fixed;
    right: 10px;
    top: 155px;
    z-index: 9999;
    color: var(--error-fg) !important;
    background-color: var(--error-background) !important;
    border-color: var(--error-fg);
}

.inline-group {
    margin-bottom: 0!important;
}

input[type=submit] {
    color: inherit!important;
}

input[type=submit]:hover {
    color: var(--elem-light-primary)!important;
}
/*
label {
    display: block;
    text-align: left;
}

input {
    margin: 0;
    border-radius: 5px;
    color: var(--elem-dark-third-secondary);
    font-size: 16px;
}

input:not([type=button]) {
    padding: 7px 10px 7px 10px;
    width: calc(100% - 20px);
    border: 1px solid var(--elem-light-primary-third);
    background-color: var(--elem-light-primary);
}

input[type=button],
input[type=submit],
button.button,
.button {
    box-shadow: none;
    outline: none;
    line-height: 1;
    color: var(--elem-dark-third);
    background: var(--elem-light-primary);
    border: 1px solid var(--elem-light-primary-secondary);
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 500;
    transition: 400ms background, border-color, font-weight, color;
}


input[type=checkbox] {
    cursor: pointer;
    padding: 7px 0;
    width: 33px;
}

input[type=search] {
    line-height: 1.3;
    font-size: 115%!important;
    color: var(--elem-light-primary);
    background: var(--elem-dark-third-border);
    border: 2px solid var(--elem-dark-third-border);
    padding: 5px 5px 5px 35px;
    box-shadow: none;
    transition: 400ms;
}

input:active,
input:focus {
    border: 1px solid var(--elem-dark-third-secondary);
    outline: none;
}

input[type=button]:hover,
input[type=submit]:hover {
    background: var(--theme);
    border-color: var(--theme);
    color: var(--elem-light-primary);
}

input[type=search]:focus {
    border: 2px solid var(--elem-light-primary-secondary);
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}
 */