/* Global settings */
:root {
    --theme: #4267B2;
    --theme-transparent: rgba(66, 103, 178, 0.6);

    --elem-dark: #353535;
    --elem-dark-secondary: #4f4f4f;
    --elem-dark-third: #484848;

    --elem-light: #e1e1e1;
    --elem-light-secondary: #656565;
    --elem-light-third: #b9b9b9;
    --elem-light-fourth: #818181;
    --elem-light-filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(41deg) brightness(130%) contrast(76%);

    --error-bg: #f2dede;
    --error-fg: #a94442;
    --error-border: #ebccd1;
    /*--error-border: #ebccd1;*/

    --success-bg: #DFF2BF;
    --success-fg: #270;
    --success-border: #adcba1;

    --nav-height: 61px;
    --footer-height: 45px;
    --background: #ddd;
    background: #dddddd;
    box-sizing: border-box;
}

::selection {
    background: var(--theme);
    color: var(--elem-light);
}

body {
    min-width: 1024px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    margin-top: var(--nav-height);
    color: var(--elem-dark);
    font-family: Lato, sans-serif;
}


main {
    color: var(--elem-dark);
    margin: 10px 10px 0 0;
}

a,
a:visited {
    color: var(--elem-dark);
    vertical-align: middle;
    text-decoration: none;
    transition: 200ms;
}

label {
    display: block;
    text-align: left;
}

input {
    font-family: Lato, sans-serif;
    margin: 0;
    border-radius: 5px;
    font-size: 115%;
}

input:not([type=button]) {
    padding: 5px 10px 5px 10px;
    width: calc(100% - 20px);
    border: 1px solid var(--elem-light-third);
    background-color: var(--elem-light);
}

input[type=button],
input[type=submit],
button.button,
.button {
    box-shadow: none;
    outline: none;
    line-height: 1;
    color: var(--elem-dark);
    background: var(--elem-light);
    border: 1px solid var(--elem-light-secondary);
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 500;
    transition: 400ms background, border-color, font-weight, color;
}

input[type=submit] {
    width: 100%
}

input[type=checkbox] {
    cursor: pointer;
    padding: 7px 0;
    width: 33px;
}

input[type=search] {
    font-size: 13px;
    line-height: 1.3;
    color: var(--elem-light);
    background: var(--elem-dark-third);
    border: 2px solid var(--elem-dark-third);
    padding: 5px 5px 5px 35px;
    box-shadow: none;
    transition: 400ms;
}

input:active,
input:focus {
    border: 1px solid var(--elem-dark-secondary);
    outline: none;
}

input[type=button]:hover,
input[type=submit]:hover {
    background: var(--theme);
    border-color: var(--theme);
    color: var(--elem-light);
}

input[type=search]:focus {
    border: 2px solid var(--elem-light-secondary);
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}

.bootstrap-filestyle > input {
    padding-left: 120px!important;
    width: calc(50% - 100px)!important;
}

.buttonText {
    color: var(--elem-light);
    position: relative;
    background: var(--elem-light-secondary);
    bottom: 30px;
    padding: 7.5px 10px;
    font-size: 115%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

.buttonText:hover {
    background-color: var(--theme);
}

label.btn.btn-secondary {
    position: absolute;
}

textarea {
    padding: 5px 10px!important;
}

/* Navbar and footer*/

nav:not(#nav-sidebar) {
    padding: 5px 3px 3px 3px;
    width: 100%;
    font-size:  15px;
    height: auto;
    background: var(--elem-dark);
    border-bottom: 5px solid var(--theme);
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav,
nav > div > a,
nav > div > a:visited,
nav > div > div > a,
nav > div > div > a:visited,
nav > div > div > ul  a,
nav > div > div > ul a:visited,
footer,
footer a,
footer a:visited {
    color: var(--elem-light);
}

nav div {
    margin: 0 15px 0 15px;
}

.navbar-content-block {
    display: flex;
    align-items: center;
}

footer {
    background: var(--elem-dark);
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    margin: 5px;
    font-size: 90%;
}

.footer-content-block {
    text-align: center;
    padding: 5px 30px 5px 30px;
}

/* Navbar - Account, Logo */

#navbar-logo svg {
    fill: var(--elem-light);
    transition: 200ms;
}

#navbar-logo path {
    fill: var(--elem-dark);
    transition: 200ms;
}

#navbar-logo svg:hover {
    fill: var(--theme)
}

#navbar-logo svg:hover > path {
    fill: var(--elem-light)
}

#navbar-account {
    position: relative;
}

#navbar-account svg {
    width: 42px;
    height: 42px;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;
}

#navbar-account img:hover {
    background: var(--elem-dark-secondary);
}

#navbar-account ul {
    position: fixed;
    background: var(--elem-dark);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    list-style: none;
    top: var(--nav-height);
    right: 25px;
    padding: 0;
}

#navbar-account ul li {
    border-bottom: 1px solid var(--elem-dark-third);
    padding: 10px 20px 10px 10px;
    display: flex;
    transition: 200ms;
    margin-left: 0;
}

#navbar-account li:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

#account-admin:before {
    background-image: url('../img/svg/admin.svg');
}

#account-settings:before{
    background-image: url('../img/svg/settings.svg');
}

#account-password-change:before {
    background-image: url('../img/svg/change-password.svg');
}

#account-logout:before {
    background-image: url('../img/svg/log-out.svg');
}

#navbar-account ul li:nth-last-child(1) {
    border-bottom: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#navbar-account ul li:nth-child(1):hover {
    background: var(--elem-dark);
}

#navbar-account ul li:hover {
    background: var(--elem-dark-secondary)
}

/* Navbar - Search */

#navbar-search {
    position: relative;
}

#navbar-search svg {
    position: absolute;
    bottom: 7px;
    left: 10px;
}

/* Navbar - Login */

#navbar-login > a {
    display: flex;
    align-items: center;
}

#navbar-login a:before {
    padding-right: 5px;
    content:'';
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-image: url('../img/svg/log-in.svg');
}

/* Content - Logged out */

#dialog-logged-out {
    align-items: center;
    line-height: 50px;
    width: 400px;
}

#dialog-logged-out p {
    text-align: center;
    font-size: 75%;
    margin-top: 35px;
    line-height: 2;
    color: var(--elem-light-secondary);
    border-top: 1px solid var(--elem-light-secondary);
    width: inherit;
}

/* Content - Log In */

#dialog-login {
    margin: 0 auto;
    width: 450px;
    max-width: calc(100% - 20px);
    padding: 10px
}

/* Content - Password Reset */

#dialog-password-reset {
    width: 400px;
}
#dialog-password-reset form {
    width: 80%
}

/* Classes */

.center-subdiv {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    fill: var(--elem-light);
    transition: 150ms;
}

.icon:hover{
    fill: var(--theme);
}

/* Home - board tenant header */

#sidebar {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    position: absolute;
    top: var(--nav-height);
    bottom: 0;
    margin: 0;
}

#sidebar > #sidebar-toggle {
    display: flex;
    z-index: 40;
    cursor: pointer;
    height: 100%;
    position: fixed;
    margin-bottom: var(--footer-height);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background: var(--elem-light-secondary);
    transition: 300ms;
}

#sidebar > #sidebar-toggle:hover {
    background-color: var(--elem-dark-secondary)
}

#sidebar > #sidebar-toggle:before {
    content: '';
    width: 18px;
    height: 18px;
}

.arrow-left:before {
    background-image: url('../img/svg/arrow-left.svg');
}

.arrow-right:before {
    background-image: url('../img/svg/arrow-right.svg');
}

#sidebar > #sidebar-content {
    width: 298px;
    height: 100%;
    margin-top: var(--nav-height);
    position:fixed;
    flex: 0 0 298px;
    margin-left: 20px;
    visibility: visible;
    border-right: 1px solid var(--elem-light-fourth);
    transition: visibility 0.3s, margin 0.3s;
}

#sidebar > #sidebar-content > #sidebar-tenant {
    background: var(--elem-light-secondary);
    color: var(--elem-light);
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid var(--elem-light-fourth);
}

#sidebar > #sidebar-content > #sidebar-tenant p {
    margin: 0;
    font-size: 120%;
    padding-left: 10px;
    line-height: 1;
    padding-top: 6px;
    letter-spacing: 1px;
}

#sidebar > #sidebar-content > #sidebar-create-ticket {
    padding: 10px;
    display: flex;
}

#sidebar > #sidebar-content > #sidebar-create-ticket a {
    width: 100%
}

#sidebar > #sidebar-content > #sidebar-create-ticket input {
    width: 100%;
    font-size: 95%;
    padding: 8px 10px 8px 10px;
}

/* Content page */

#content-page h1 {
    margin: 0;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--elem-light-third)
}

.content-page-block {
    padding-top: 15px;
}

/* Admin Override base.css*/

#nav-sidebar {
    width: 25%;
    left: -328px!important;
    margin-left: -328px;
    flex: 0 0 328px;
    border-top: none;
    border-right: 1px solid var(--elem-light-third);
    border-left: none;
    transition: 300ms;
}

#nav-sidebar div {
    margin: 0;
}

#nav-sidebar caption{
    border-radius: 0;
    border: none;
}

#nav-sidebar table > caption > a,
#nav-sidebar table > caption > a:visited{
    color: var(--elem-light)!important;
}

#nav-sidebar .module {
    border-radius: 0;
    border: none;
}

.toggle-nav-sidebar {
    background: var(--elem-light-secondary);
    border-right: none;
    color: var(--elem-light);
    transition: 300ms;
}

.toggle-nav-sidebar:focus,
.toggle-nav-sidebar:active {
   background: var(--elem-light-secondary);
}

.toggle-nav-sidebar:hover {
    background: var(--elem-dark-secondary)
}

#content h1 {
    flex: 0 0 100%
}

#recent-actions-module {
    /*position: fixed;*/
    display: block;
    background: var(--elem-light);
    border: 1px solid var(--elem-light-third);
    border-radius: 5px;
    /*top: 55px;
    right: 0;*/
    height: 100%;
}
#recent-actions-module > ul {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

#recent-actions-module > ul > li {
    padding: 5px;
    border-radius: 5px;
    transition: 400ms;
}

#recent-actions-module > ul > li:hover {
    background: var(--theme-transparent);
}

#recent-actions-module .addlink,
#recent-actions-module .changelink {
    background-position: 0 5px;
    z-index: 500;
}
.addlink:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-image: url('../img/logo.png')
}

#recent-actions-module > h2 {
    border-bottom: 1px solid var(--elem-light-third);
    text-transform: uppercase;
    font-size: 12px;
}

.object-tools {
    margin-top: -46px;
}

.object-tools a {
    border-radius: 5px;
    transition: 200ms ease-in-out;
}


.object-tools a:link, .object-tools a:visited {
    padding: 10px 10px 10px 25px;
    font-weight: 700;
}

.object-tools a:link.historylink,
.object-tools a:visited.historylink {
    padding: 10px 10px 10px 10px;
    margin-top: -44px;
}

.object-tools a:hover {
    background-color: var(--theme);
}

.object-tools a.addlink {
    background-position: left 7px center;
}

label.required {
    color: var(--elem-dark)
}

.aligned label {
    float: none;
}

#changelist .actions{
    padding: 15px 10px 15px 0;
}

#changelist table input {
    vertical-align: middle;
}

#changelist .actions .button{
    color: var(--elem-light);
    padding: 0 15px;
    background: var(--object-tools-bg);
    transition: 300ms;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
}

#changelist .actions .button:hover {
    background: var(--theme);
    border: none;
}

#changelist-filter {
    border: 1px solid  var(--elem-light-third);
    border-radius: 5px;
    margin: 20px 0 0 30px;
}

#changelist-filter h2 {
    color: var(--elem-light);
    font-weight: 700;
}

#changelist table tbody tr.selected {
    color: var(--elem-light);
    background-color: var(--theme)
}
.selected a {
    color: var(--elem-light);
}

#changelist-search > div > span.quiet{
    display: none;
}

/* Messages, Communicates, Error, Success, Warning */

ul.messagelist li {
    padding: 14px 10px 10px 65px;
}

form .aligned div.help,
.errorlist {
    margin-left: 0!important;
    padding: 5px 0 0 0 !important;
}

.success {
    z-index: 99;
    position: absolute;
    right: 10px;
    top: 150px;
    width: 300px;
    border-radius: 5px;
    color: var(--success-fg)!important;
    background-color: var(--success-bg)!important;
    border: 1px solid var(--success-border)!important;
}

.success a {
    color: var(--success-fg)!important;
    transition: 100ms;
}
.success a:hover {
    color: var(--elem-dark)!important;
}

.errornote,
.errornote a,
.errornote a:hover {
    position: fixed;
    right: 10px;
    top: 155px;
    z-index: 9999;
    color: var(--error-fg) !important;
    background-color: var(--error-bg) !important;
    border-color: var(--error-fg);
}

/* Admin - Toolbar */

#toolbar {
    display: flex;
    border-top: 0;
    margin-bottom: 0;
    padding: 20px 0 20px 0!important;
}

#toolbar #searchbar {
    padding: 5px 10px 5px 30px;
    font-size: 15px;
}

#toolbar form input[type="submit"] {
    box-shadow: none;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--elem-light);
    background: var(--object-tools-bg);
    transition: 300ms;
    border: none;
}

#toolbar form input[type="submit"]:hover {
    background: var(--theme)
}

#toolbar > form#changelist-search > div {
    display: flex;
}

#toolbar label > img {
    flex: 0 0 100%;
    position: relative;
    left: 5px;
    top: 4px;
    width: 20px;
    height: 20px;
    z-index: 1111111111;
}

#toolbar label {
    position: fixed;
}

/* Admin - Result list */

div.results {
    border-top: 1px solid var(--elem-light-third);
}

table#result_list {
    border: 1px solid var(--elem-light-third);
    border-radius: 5px;
    margin-top: 15px;
}

#result_list > thead > tr > th,
#result_list > thead > tr > th a{
    background: var(--elem-light-secondary);
    color: var(--elem-light);
    font-weight: 600;
    transition: 300ms;
}

#result_list > thead > tr > th:not(.sorted):hover,
#result_list > thead > tr > th:not(.sorted) a:hover {
    -webkit-filter: brightness(108%);
}

#result_list > thead > tr > th.sorted {
    -webkit-filter: brightness(115%);
}

.dashboard tr:not(:last-child){
    border-bottom: 1px solid var(--elem-light-third)
}

.app-app tr,
.change-list tr{
    border-bottom: 1px solid var(--elem-light-third)
}

.paginator {
    display: none
}

.column-id {
    width: 10px;
}

/* Admin - Fieldset, Submit row, Child inputs */

fieldset h2 {
    font-weight: 600!important;
    text-transform: uppercase;
    color: var(--elem-light)!important;
    border-radius: 0!important;
    padding: 10px 0 6px 10px!important
}

fieldset.module {
    margin-bottom: 0;
    /*padding: 20px 0 20px 20px;*/
}

fieldset.module > div {
    display: grid;
}

fieldset.module > .form-row input {
    width: 50%
}

.submit-row {
    border: none;
    display: flex;
    padding: 15px 0;
    flex-direction: row;
    justify-content: space-around;
}

/*.submit-row input[type=submit]:nth-child(1)*/

.submit-row input.default{
    /*flex: 0 0 100%;*/
    margin-left: 0;
    background: var(--elem-light-secondary);
    color: var(--elem-light)
}

.submit-row input.default:hover {
    background: var(--theme);
}

.form-row {
    overflow: inherit;
    padding: 15px 0;
}

.vLargeTextField {
    width: 50%!important;
}

form#status_form input[type=text] {
    box-sizing: border-box;
}

#user_form > div > fieldset {
    padding: 0!important;
    border-bottom: none;
}

#user_form > div > fieldset > .form-row {
    border-bottom: none;
}

ul.selector-chooser {
    background-color: var(--background)!important
}

ul.selector-chooser > li a {
    cursor: pointer
}

.selector-chosen h2,
.selector-available h2 {
    background: var(--elem-light-secondary)!important;
}

.file-upload {
    display: flex;
    flex-direction: column;
    margin-left: 0!important;
}

.file-upload input {
    font-size: 15px!important;
}

.file-upload #icon-clear_id {
    width: inherit;
}

.form-row.field-icon > div > p > a {
    border: 1px solid var(--elem-light-third);
    padding: 5px 10px;
    width: 50%;
    font-size: 115%;
    border-radius: 5px;
}

/* Admin - delete confirmation */

body.delete-confirmation #content{
    display: block!important;
}

body.delete-confirmation #content form div {
    display: flex;
}

body.delete-confirmation #content h1{
    margin-bottom: 10px
}

body.delete-confirmation #content form div input[type=submit] {
    flex: 0;
    border: none;
}

body.delete-confirmation #content form input {
    transition: 300ms;
}

body.delete-confirmation #content form .cancel-link:hover{
    background-color: var(--theme)
}

.field-full_transition {
    display: inline-flex
}

.admin-transition {
    width: max-content;
    border-radius: 5px;
    padding: 7px 12px 5px 12px;
    font-weight: 700;
    color: var(--elem-light)
}

.admin-transition-arrow {
    margin-top: 7px;
}

.admin-transition-arrow:after {
    content: '\2192';
    padding: 5px 8px 5px 8px;
    font-size: 26px;
}

.hidden {
    margin-left: -298px!important;
}

.sticky {
    position: sticky;
    top: 0;
    max-height: 100vh
}

#content-page {
    margin-left: calc(300px + 20px);
    padding: 15px;
    transition: 300ms margin-left;
}


.full-width {
    margin-left: calc(0% + 20px)!important;
}

.left-content-full-width {
    width: calc(100% + 298px)!important;
}

#create-ticket-content {
    display: flex;
    flex-direction: row;
}

#create-ticket-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--elem-light-third);
    padding-left: 30px;
    width: 100%
}

#create-ticket-info svg {
    opacity: 0.2;
    width: 35px;
    height: 35px;
}

#create-ticket-info-dialog {
    color: var(--elem-light-secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#create-ticket-info-dialog p {
    width: 450px;
}

#create-ticket-info-dialog p.p-footer {
    width: 300px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid var(--elem-light-third);
    font-size: 80%;
}

#create-ticket-form {
    width: max-content;
    padding-left: 15px;
    padding-right: 30px;
}

.form-field {
    padding: 10px 0;
}

.form-field label {
    font-weight:  500;
    padding-bottom: 3px;
}

.form-field input,
.form-field select,
.form-field textarea {
    border-radius: 5px;
    background-color: var(--elem-light);
    border: 1px solid var(--elem-light-third);
    box-sizing: border-box;
}

.short-field input,
.short-field select,
.short-field textarea {
    width: 300px!important;
}

.medium-field input,
.medium-field select,
.medium-field textarea {
    width: 550px!important;
}

.long-field input,
.long-field select,
.long-field textarea {
    width: 750px!important;
}

.very-long-field input,
.very-long-field select,
.very-long-field textarea {
    width: 850px!important;
}

.form .description {
    font-size: 80%;
    padding-top: 3px;
    color: var(--elem-light-fourth);
}

/* select2 override */

.select2-selection__choice {
    color: var(--elem-light)!important;
    line-height: 1.4!important;
    background-color: var(--elem-light-secondary)!important;
}

.select2-selection {
    background: none!important;
    height: 35px!important;
}

.select2-selection__placeholder,
.select2-selection__rendered {
    line-height: 35px!important
}

.select2-search--dropdown {
    background: var(--elem-light)
}

.select2-search__field {
    background: var(--elem-light)!important;
    color: var(--elem-light-secondary)!important;
}

.select2-results__option--highlighted,
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--theme)!important;
    transition: 100ms;
}

.select2-results__option {
    background-color: var(--elem-light)!important;
}

.select2-selection__arrow {
    height: 32px!important;
    width: 30px!important;
}