.select2-selection__choice {
    color: var(--elem-light-primary)!important;
    line-height: 1.4!important;
    background-color: var(--elem-dark-primary)!important;
}

.select2-selection__choice__remove {
    transition: 200ms!important;
}

.select2-selection__choice__remove:hover {
    color: var(--elem-light-primary)!important
}

.select2-selection.select2-selection--multiple .select2-selection__rendered {
    line-height: 1.2!important
}

.select2-selection {
    background: none!important;
    height: 35px!important;
}

.select2-selection__placeholder,
.select2-selection__rendered {
    line-height: 35px!important;
    margin-right: 8px!important;
    color: var(--elem-dark-secondary)!important;
}

.select2-selection:focus {
    border-color: var(--elem-dark-primary)!important;
}

.select2-search--dropdown {
    background: var(--elem-light-primary)!important
}

.select2-search__field {
    padding-left: 5px!important;
    background-color: transparent!important;
    color: var(--elem-dark-primary)!important;
}

.select2-results__option--highlighted,
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: var(--theme)!important;
    transition: 100ms;
}

.select2-results__option {
    background-color: var(--elem-light-primary)!important;
}

.select2-selection__arrow {
    height: 32px!important;
    width: 30px!important;
}

.select2-results__option[aria-selected=true] {
    display: none!important;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
    border-color: 1px solid var(--elem-light-border);
}

.select2-selection {
    border-color: 1px solid var(--elem-light-border);
    font-size: 16px!important;
}

.select2-selection__placeholder {
    color: #999!important;
    font-weight: 400!important;
    font-size: 15px!important;
    font-family: Lato, sans-serif!important
}

.select2-container--default {

}

.select2-selection--single,
.select2-selection--multiple {
    border: 1px solid var(--elem-light-border)!important;
    border-radius: 5px!important;
}

.select2-selection__rendered#select2-sidebar-block_tenant-set-container {
    color: var(--elem-light-primary)!important
}

select#sidebar-block_tenant-set + .select2-container--default {
    border: none!important
}

select#sidebar-block_tenant-set + .select2-container--default .select2-selection {
    border: 1px solid var(--elem-dark-primary)!important;
}

select#sidebar-block_tenant-set + .select2-container--default .select2-selection:focus {
    border: 1px solid var(--elem-dark-border)!important;
}

select#sidebar-block_tenant-set + .select2-container--default .select2-selection__arrow b[role=presentation] {
    border-color: var(--elem-dark-border) transparent transparent transparent!important
}