{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Logged out{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div class="content-page-block ">
    <div class="dialog center dialog-button overflow-hidden">
      <h1>Logged out</h1>
      <h3>You have successfully logged out</h3>
      <a href="{% url 'login' %}">
        <input type="button" class="button" value="Log in again"/>
      </a>
      <p class="footer">Service Desk App</p>
    </div>
  </div>
  {% endblock %}
</body>

