
/* Header */

#header {
    background: var(--elem-dark-third);
    position: sticky;
    top: 0;
    max-height: 100vh;
    z-index: 102;
    height: var(--nav-height);
}

/* main page */

.change-list #content {

}

.dashboard #content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 2560px;
    padding: 15px;
}

#content > h1 {
    flex: 1 1 100%;
    font-size: 24px;
    font-family: Lato-bold, sans-serif;
    padding-bottom: 10px;
    margin-top: 5px;
    border-bottom: 2px solid var(--elem-light-border);
}

.dashboard #content > h1 {
    margin: 0
}

.dashboard #content-main {
    flex: 1 1 80%;
    border-right: 2px solid var(--elem-light-border);
    padding-right: 15px;
}

#content-page {
    display: none
}

#content-related {
    flex: 1 1 15%;
    padding-left: 15px;
}

.change-list .content-main,
#content.colM #content-main {
    display: flex;
    flex-wrap: wrap;
}

.change-list .content-main .object-tools,
.change-form #content-main .object-tools,
#content.colM #content-main .object-tools {
    flex: 1 1 100%;
}

.object-tools {
    position: absolute;
    display: inline-flex;
    right: 15px;
    top: 58px
}

.object-tools li {
    border-radius: 5px;
    list-style: none;
    font-family: Lato-bold, sans-serif;
    border: 1px solid var(--elem-light-border);
    width: max-content;
    margin-left: 10px;
    background: var(--elem-dark-primary);
    font-size: 13px;
    padding: 11px 7px 10px 7px;
    transition: 300ms background-color;
    text-transform: uppercase;
}

.object-tools li:hover {
    background-color: var(--theme);
}

.object-tools li a {

    cursor: pointer;
    padding: 12px 10px 11px 10px;
    color: var(--elem-light-primary);
}

/* Tables */

table {
    border-collapse: collapse;
    width: 100%;
}

table#result_list {
    padding-right: 15px;
}

td, th {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    border-bottom: 1px solid var(--elem-light-border);
    vertical-align: middle;
    padding: 8px;
}

th {
    font-family: Lato-bold, sans-serif;
    text-align: left;
}

#result_list th.column-name {
    font-size: 18px
}

th.action-checkbox-column,
td.action-checkbox {
    width: 14px;
    border-right: 1px solid var(--elem-light-border)
}

th[scope=row] {
    width: 100%;
}

th[scope=row] a {
    padding: 15px 55px 15px 5px;
}

tr {
    transition: box-shadow 100ms, background-color 300ms;
}

tr.selected {
    background-color: #c5c5c5;
}

.current-model{
    background-color: var(--theme);
}

.current-model a {
    color: var(--elem-light-primary)!important;
}

tr:hover {
    -webkit-box-shadow: 0 0 17px -6px rgba(133, 134, 138, 1);
    -moz-box-shadow: 0 0 17px -6px rgba(133, 134, 138, 1);
    box-shadow: 0 0 17px -6px rgba(133, 134, 138, 1);
}

.current-app tbody th[scope=row],
.app-auth tbody th[scope=row] {
    line-height: 24px;
}

.app-auth.module caption,
.app-core.module caption {
    display: none
}

.addlink,
.changelink,
.deletelink {
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    font-family: Lato-bold, sans-serif;
    transition: 200ms box-shadow, 300ms background-color;
}

.addlink:hover,
.changelink:hover,
.deletelink:hover {
    background-color: var(--theme);
    color: var(--elem-light-primary);
    text-decoration: none;
}

.addlink:before {
    background-image: url('../img/icon-addlink.svg');
}

.changelink:before {
    background-image: url('../img/icon-changelink.svg');
}

.deletelink:before {
    background-image: url('../img/icon-deletelink.svg');
}

.addlink .mini,
.changelink .mini,
.deletelink .mini {
    padding-left: 20px;
}

#recent-actions-module ul.actionlist .addlink:hover,
#recent-actions-module ul.actionlist .changelink:hover,
#recent-actions-module ul.actionlist .deletelink:hover {
    -webkit-box-shadow: 0 0 17px -6px rgba(133, 134, 138, 1);
    -moz-box-shadow: 0 0 17px -6px rgba(133, 134, 138, 1);
    box-shadow: 0 0 17px -6px rgba(133, 134, 138, 1);
    background: inherit;
    color: var(--elem-dark-primary);
}

#recent-actions-module ul.actionlist > li {
    border-bottom: 1px solid var(--elem-light-border);
    border-radius: 0;
    line-height: 1.22;
}
#recent-actions-module > h2 {
    margin: 0;
    font-size: 19px;
    border-bottom: 1px solid var(--elem-light-border);
    padding: 9px 0 8px 0;
}

#recent-actions-module > h3 {
    display: none
}

#recent-actions-module ul li {
    font-family: Lato, sans-serif
}

.actionlist {
    margin: 0
}

.actionlist li:before {
    content: '';
    padding-right: 20px;
    position: relative;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
}

li, dt, dd {
    font-size: 13px;
}

.mini {
    font-size: 11px;
}

.sticky#nav-sidebar {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    z-index:30;
    min-height: 100%;
    top: calc(5px + var(--nav-height));
    position: fixed;
    height: 100%;
    bottom: 0;
    margin-top: 0;
    transition: 300ms margin;
}

#nav-sidebar {
    width: var(--sidebar-width);
    margin-top: var(--nav-height);
    flex: 0 0 calc(-1 * var(--sidebar-width));
    margin-left: calc(-1 * var(--sidebar-width));
    padding-left: 20px;
    visibility: visible;
    height: 100%;
    position: fixed!important;
    border-right: 3px solid var(--elem-light-border);
}

#nav-sidebar {
    margin-left: calc(-1 * var(--sidebar-width))
}

.shifted #nav-sidebar {
    margin-left: 0
}

.change-list .content,
#content.colM {
    margin-left: 20px;
    padding: 15px;
    transition: 300ms margin;
    display: flex;
    flex-wrap: wrap;
}

.change-list .shifted .content,
.shifted #content.colM{
    margin-left: calc(300px + 20px)!important
}

.change-list #content,
#content.colM {
    width: 100%;
}

.toggle-nav-sidebar {
    display: flex;
    cursor: pointer;
    z-index: 40;
    height: 100%;
    position: fixed!important;
    margin-bottom: var(--footer-height);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background: var(--elem-dark-primary);
    transition: 300ms;
    border: none
}

.shifted .toggle-nav-sidebar:before {
    background-image: url('../../site/img/svg/arrow-left.svg');
}

.toggle-nav-sidebar:before {
    background-image: url('../../site/img/svg/arrow-right.svg');
}

.toggle-nav-sidebar:before {
    content: '';
    width: 18px;
    height: 18px;
}

input[type=search]#nav-filter {
    background: var(--background);
    border-bottom: 2px solid var(--elem-light-border);
    color: var(--elem-dark-primary);
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 5px 5px 5px 10px;
    font-size: 16px!important;
    line-height: 2;
}

#changelist-search {
    border-bottom: 1px solid var(--elem-light-border);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#changelist-search div {
    display: flex
}

#changelist-search div input[type=submit] {
    margin-left: 10px;
}

label[for=searchbar] {
    position: relative;
}

label[for=searchbar] img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 6px;
}

label[for=searchbar] + input[type=text] {
    padding-left: 30px;
}

.actions {
    border-bottom: 1px solid var(--elem-light-border);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding-bottom: 15px;
    gap: 0 10px;
}

.actions label {
    padding-bottom: 0;
}

.actions select[name=action] {
    width: 327px
}

.breadcrumbs {
    display: none
}

.button {
    border-radius: 4px;
    font-size: 15px;
    color: var(--elem-dark-secondary);
    border-color: var(--elem-dark-primary);
    transition: 300ms background-color;
}

.button:hover {
    background-color: var(--theme);
    border-color: var(--theme);
    color: var(--elem-light-primary)
}

.change-form #content {
    display: flex;
}

.change-form #content > h2 {
    flex: 1 1 100%;
    font-size: 18px;
    margin: 0 0 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--elem-light-border);
}

.change-form #content #content-main form fieldset {
    border: none;
    padding: 0;
}

.change-form #content #content-main form select {
    width: 100%;
}

.change-form #content #content-main form fieldset input {
    display:block;
    width: 100%;
}

.change-form #content #content-main form fieldset.module .form-row {
    padding: 0;
    margin-bottom: 15px;
}

.change-form #content #content-main form fieldset.module .form-row > div {
    display: flex;
    flex-direction: column
}

.change-form #content #content-main form fieldset.module .form-row > div label {
    font-family: Lato-bold, sans-serif;
    font-size: 16px;
}

.aligned p.file-upload {
    margin: 0!important;
}

.buttonText {
    bottom: 34px!important;
}

.submit-row p.deletelink-box {
    background: #BA2121FF;
    border-radius: 4px;
    color: var(--elem-light-primary)
}

.submit-row p.deletelink-box:hover {

}

.clearable-file-input {
    display: flex;
    gap: 0 5px;
    margin-bottom: 5px;
}
.file-upload {
    font-size: 100%;
}

.file-upload br {
    display: none
}

.submit-row {
    padding: 10px 0 10px 0!important;
    border-top: 1px solid var(--elem-light-border)!important;
    border-radius: 0!important;
    width: 100%!important;
}

.change-form #content #content-main form fieldset.module .form-row > div,
.help{
    margin-left: 0!important;
    padding-left: 0!important;
    padding-top: 3px;
}
.related-widget-wrapper {
    display:flex!important;
    flex-direction: row!important;
    align-items: center!important;
    gap: 0 5px;
}

.related-widget-wrapper-link {
    width: 20px;
}

.module.aligned {
    margin: 0;
    font-size: 20px;
}