{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Password reset sent{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div id="password-reset-sent-content" class="center">
    <div id="password-reset-sent-dialog" class="dialog">
      <h3>Password reset sent</h3>
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      <p class="footer">Service Desk App</p>
    </div>
  </div>
  {% endblock %}
</body>