<!---->

<!--<body>
  {% block nav-global %}
    {% include 'base.html' %}
  {% endblock %}
  {% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}
</body>-->

<div id="header">
    <div id="branding">
        {% block branding %}{% endblock %}
    </div>
    {% block usertools %}
        {% if has_permission %}
            <div id="user-tools">
                {% block welcome-msg %}
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                    {% if site_url %}
                        <a href="{{ site_url }}"></a>
                    {% endif %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                    {% endif %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
    {% block nav-global %}{% endblock %}
</div>

<style>
    #header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
    background: var(--header-bg);
    color: var(--header-color);
    overflow: hidden;
}
</style>