<!DOCTYPE html>
<html lang="en-US">
<head>
  {% load static %}
  <title>{% block title %}Service Desk{% endblock %}</title>
  <script rel="script" type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
  <script rel="script" type="text/javascript" src="{% static 'scripts/base.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/bootstrap-filestyle.min.js' %}"> </script>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
  <!--<link rel="stylesheet" type="text/css" href="{% static 'styles/fonts/Lato' %}"/>-->
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="canonical" href="{{ request.build_absolute_uri }}">
  <meta charset="utf-8">
  <meta name="author" content="Karol Siedlaczek">
  <meta name="description" content="Service Desk App">
  <meta name="keywords" content="service desk ticket issue project tenant">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav id="navbar" class="sticky">
    {% block header %}
    <div class="navbar-content-block">
      <div id="navbar-logo">
        <a href="{% url 'home' %}">
          <svg width="48" height="48" viewBox="0 0 128 128" class="icon" xmlns="http://www.w3.org/2000/svg">
            <rect x="8" y="8" width="112" height="112" rx="20" />
            <path d="M98.4164 43.9158C98.1101 42.6812 96.5652 42.2628 95.6656 43.1625L85.4992 53.3288L76.2188 51.7825L74.6725 42.5021L84.8389 32.3357C85.7439 31.4307 85.3078 29.8885 84.065 29.5795C77.5873 27.9744 70.4547 29.7039 65.392 34.7652C59.9725 40.1847 58.4809 48.0406 60.7368 54.8902L31.5624 84.0645C28.1459 87.4811 28.1459 93.0209 31.5624 96.4375C34.979 99.8541 40.5189 99.8541 43.9355 96.4375L73.0852 67.2878C79.9375 69.5723 87.7783 68.0643 93.2334 62.6093C98.3015 57.5411 100.028 50.3976 98.4164 43.9158V43.9158ZM37.7503 93.5309C35.9388 93.5309 34.4691 92.0612 34.4691 90.2496C34.4691 88.4367 35.9388 86.9684 37.7503 86.9684C39.5618 86.9684 41.0316 88.4367 41.0316 90.2496C41.0316 92.0612 39.5618 93.5309 37.7503 93.5309Z" fill="#353535"/>
          </svg>
        </a>
      </div>
      {% if user.is_authenticated %}
        <div id="navbar-create">
          <a href="#">Logged as {{ user.username }}</a>
        </div>
      {% else %}
        <p>Welcome!</p>
      {% endif %}
    </div>
    <div class="navbar-content-block">
      {% if user.is_authenticated %}
        <div id="navbar-search">
          <img class="icon" src="{% static 'images/search.png' %}" alt="Search" width="17" height="17">
          <input type="search" placeholder="Search ticket...">
        </div>
        <div id="navbar-account">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 16 16">
            <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <ul style="display: none">
            <li id="account-username">Hi, {{ user.username }}</li>
            {% if user.is_superuser %}
              <li id="account-admin"><a href="{% url 'admin:index' %}">Administration</a></li>
            {% endif %}
            <li id="account-settings"><a href="#">Settings</a></li>
            <li id="account-password-change"><a href="{% url 'password_change' %}">Change password</a></li>
            <li id="account-logout"><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </div>
      {% else %}
        <div id="navbar-login">
          <a href="{% url 'login' %}">Log In</a>
        </div>
      {% endif %}
    </div>
    {% endblock %}
  </nav>
  {% block content %}
  <div id="content-page">
    {% block content_page %}
    {% endblock %}
  </div>
  {% endblock %}
  <footer>
    {% block footer %}
    <div class="footer-content-block">
      <p>Karol Siedlaczek &copy; 2022</p>
    </div>
    <div class="footer-content-block">
      <a href="https://github.com/Haswell33" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon" width="23" height="23">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
      </a>
    </div>
    <div class="footer-content-block">
      <p>Wojskowa Akademia Techniczna</p>
    </div>
    {% endblock %}
  </footer>
</body>
</html>

<script>
  $(document).ready(function(){
    console.log('document ready')
    startFuns()
    let userIsAdmin = ('{{user.is_superuser}}' === 'True')
    let userIsAuth = ('{{user.is_authenticated}}' === 'True')
    let userTenantType = '{{request.session.tenant_type}}'
    console.log(userTenantType)
    themeColor(userIsAuth, userIsAdmin, userTenantType)
  })
</script>