{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }}{% endblock %}</title>
  <meta http-equiv="refresh" content="60">
</head>

<body>
  {% block content %}
  {% block sidebar %}
  <div id="sidebar" class="sticky">
    <div id="sidebar-toggle" class="sticky arrow-left"></div>
    <div id="sidebar-content" class="sticky">
      <div id="sidebar-tenant">
        <img src="{{ request.session.tenant_icon }}" alt="tenant-icon" width="25" height="25">
        <p>{{ request.session.tenant_name}}</p>
      </div>
      <div id="sidebar-create-ticket">
        <a href="{% url 'create_ticket' %}"><input type="button" value="Create ticket"></a>
      </div>
      <div id="sidebar-recent-actions">

      </div>
    </div>
  </div>
  {% endblock %}
  <div id="content-page">
    {% block content_page %}
    <h1>Board</h1>
    <div id="home-content" class="content-page-block">
      <div id="board">
        Tickets

        <div class="board-column">

        </div>
        <div class="board-column">

        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}
</body>


