<!--#E1E1E1-->
<!DOCTYPE html>
<html lang="en-US">
<head>
  {% load static %}
  <title>{% block title %}Service Desk{% endblock %}</title>
  <script rel="script" type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
  <script rel="script" type="text/javascript" src="{% static 'scripts/gui.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
  <!--<link rel="stylesheet" type="text/css" href="{% static 'styles/fonts/Lato' %}"/>-->
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="canonical" href="{{ request.build_absolute_uri }}">
  <meta charset="utf-8">
  <meta name="author" content="Karol Siedlaczek">
  <meta name="description" content="Service Desk App">
  <meta name="keywords" content="service desk ticket issue project tenant">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="main-color-border">
    <div class="navbar-left">
      <div id="navbar-logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo site" width="50" height="50"></a>
      </div>
      {% if user.is_authenticated %}
        <div id="navbar-create">
          <a href="#">Create</a>
        </div>
      {% else %}
        <p>Welcome!</p>
      {% endif %}
    </div>
    <div class="navbar-right">
      {% if user.is_authenticated %}
        <div id="navbar-search">
          <img src="{% static 'images/search.png' %}" alt="Search" width="17" height="17">
          <input type="text" placeholder="Search ticket...">
        </div>
        <div id="navbar-account">
          <img src="{% static 'images/user.png' %}" alt="Account" width="30" height="30">
          <ul style="display: none">
            <li id="account-username">Hi, {{ user.username }}</li>
            {% if user.is_superuser %}
              <li id="account-admin"><a href="{% url 'admin:index' %}">Admin site</a></li>
            {% endif %}
            <li id="account-settings"><a href="#">Settings</a></li>
            <li id="account-password-change"><a href="{% url 'password_change' %}">Change password</a></li>
            <li id="account-logout"><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </div>
      {% else %}
        <div id="navbar-login">
          <a href="{% url 'login' %}">Log In</a>
        </div>
      {% endif %}
    </div>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div id="footer-left-content">
      <p>Karol Siedlaczek &copy; 2022</p>
    </div>
    <div id="footer-middle-content">
      <a href="https://github.com/Haswell33" target="_blank">
        <img src="{% static '/images/github-gray.png' %}" width="23" height="23">
      </a>
    </div>
    <div id="footer-right-content">
      <p>Wojskowa Akademia Techniczna</p>
    </div>
  </footer>
</body>
</html>

<script>
  $(document).ready(function () {
    console.log('document ready')
    let userIsAdmin = ('{{user.is_superuser}}' === 'True')
    let userIsAuth = ('{{user.is_authenticated}}' === 'True')
    if (userIsAuth){
      if (userIsAdmin) {
        colorElems('#4267B2')
      }
      else if (!userIsAdmin){
        colorElems('#288000')
      }
    }
    else if(!userIsAuth){
      colorElems('#8c8c8c')
    }
  })
</script>