/* Global settings */

body {
    overflow-x: hidden;
    background: #ddd;
    margin: 0;
    color: #353535;
    font-family: Lato, sans-serif;
}

main {
    color: #353535!important;
    margin: 10px;
}

a,
a:visited {
    color: #353535;
    vertical-align: middle;
    text-decoration: none;
    transition: 200ms;
}

a:hover {

}

/* Navbar */

nav {
    width: 100%;
    background: #353535;
    color: #e1e1e1;
    border-bottom: 5px solid;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a,
nav a:visited,
footer a,
footer a:visited {
    color: #e1e1e1;
}

nav div {
    margin: 0 15px 0 15px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

/* Navbar - Account */

#navbar-account {
    position: relative;
}

#navbar-account img {
    padding: 5px 10px 5px 10px;
    transition: 400ms;
    cursor: pointer;
    border-radius: 5px;
}

#navbar-account img:hover {
    background: #4f4f4f;
}

#navbar-account ul {
    position: fixed;
    background: #353535;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0;
    list-style: none;
    top: 59px;
    right: 25px;
    padding: 0;
}
#navbar-account ul li {
    border-bottom: 1px solid #5f5f5f;
    padding: 10px 20px 10px 10px;
    display: flex;
    transition: 200ms;
    margin-left: 0;
}

#navbar-account li:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

#account-admin:before{
    background-image: url('../images/admin.png');
}
#account-settings:before{
    background-image: url('../images/cog.png');
}

#account-password-change:before {
    background-image: url('../images/lock.png');
}

#account-logout:before {
    background-image: url('../images/log-out.png');
}

#navbar-account ul li:nth-last-child(1) {
    border-bottom: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#navbar-account ul li:nth-child(1) {
    background: #353535;
}

#navbar-account ul li:hover {
    background: #4f4f4f
}

/* Navbar - Search */

#navbar-search {
    position: relative;
}

#navbar-search img {
    position: absolute;
    bottom: 9px;
    left: 15px;
}

#navbar-search input {
    width: 180px;
    height: 23px;
    font-size: 14px;
    background: #414141;
    border: 2px solid #414141;
    color: #e1e1e1;
    border-radius: 5px;
    padding: 5px 5px 5px 40px;
    box-shadow: none;
    transition: 300ms;
}

#navbar-search input:focus {
    border: 2px solid #6c6c6c;
    outline-offset: 0;
    outline: 0;
    box-shadow: none;
}

/* Navbar - Login */

#navbar-login > a{
    display: flex;
}

#navbar-login a:before {
    content:'';
    width: 25px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-image: url('../images/log-in.png');
}

/* Footer */
footer {
    background: #353535;
    color: #e1e1e1;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 90%;
}

#footer-left-content,
#footer-middle-content,
#footer-right-content {
    text-align: center;
    padding: 5px 30px 5px 30px;
}

/* Content - Logged out */

#dialog-logged-out {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 50px;
    min-width: 400px;
    width: 500px;
}

#dialog-logged-out p {
    border-radius: 5px;
    margin: 0;
    line-height: 1;
    padding: 10px 15px 10px 15px;
    border: 1px solid;
    transition: 400ms;
}

#dialog-logged-out p:hover a{
    color: #e1e1e1;
}

/* Content - Logg In */

#content-login {

}

#dialog-login {
    border: 1px solid #353535;
    border-radius: 6px;
    padding: 20px;
}

label {
    display: block;
}

input {
    border-radius: 4px;
    font-size: 120%;
    padding: 5px 10px 5px 10px;
}
/* Classes */

.centered-dialog {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}