{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Board{% endblock %}</title>
  <meta http-equiv="refresh" content="60">
</head>

<body>
  {% block content %}
  <div id="home-content">

    <div id="sidebar" class="sticky">
      <div id="sidebar-toggle" class="sticky">
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>-->
      </div>
      <div id="sidebar-content" class="sticky">
        <div id="sidebar-tenant">
          {icon} {title}
        </div>
      </div>
    </div>

  </div>
  {% endblock %}
</body>
