{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Board{% endblock %}</title>
  <meta http-equiv="refresh" content="60">
</head>

<body>
  {% block content %}
  <div id="home-content">

    <div id="sidebar" class="sticky">
      <div id="sidebar-toggle" class="sticky arrow-left"></div>
      <div id="sidebar-content" class="sticky">
        <div id="sidebar-tenant">
          <img src="{{ request.session.icon }}" alt="tenant-icon"> {title}
        </div>
      </div>
    </div>

  </div>
  {% endblock %}
</body>
