{% extends 'admin/base.html' %}

<head>
  {% load static %}
  <title>{% block title %}Service Desk | Administration{% endblock %}</title>
  {% block extrahead %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  {% endblock %}
  {% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  {% endblock %}
</head>

<body>
  <main>
    {% block content %}{{ block.super }}
    {% endblock %}
  </main>
</body>